node_modules
/addon/content/**/*.xml
/addon/content/**/*.js
/addon/content/**/*.css
/addon/content/**/*.vpdi
/addon/game/**/*.vjs_c
/addon/game/**/*.vcss_c
/addon/game/**/*.vxml_c
/addon/game/**/*.vpdi_c
/addon/game/**/*.lua
*.bin
*.cfg
.yarn
yarn.lock
pnpm-lock.yaml