.MenuStyle-1fe11131 {
  margin-top: 12px;
  margin-left: 10px;
  horizontal-align: left;
  vertical-align: top;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.35s;
  transition-timing-function: ease-in-out;
  z-index: -1;
}
.MenuStyle-1fe11131.minimized {
  opacity: 0;
}
.MenuStyle-1fe11131.horizontal {
  flow-children: right;
  min-height: 30px;
}
.MenuStyle-1fe11131.vertical {
  min-width: 30px;
  flow-children: down;
}
.MenuStyle-1fe11131.horizontal .box {
  height: 100%;
  margin-left: 18px;
}
.MenuStyle-1fe11131.horizontal .box.minimized {
  width: 0;
}
.MenuStyle-1fe11131.vertical .box {
  width: 100%;
  margin-top: 18px;
}
.MenuStyle-1fe11131.vertical .box.minimized {
  height: 0;
}
.MenuStyle-1fe11131 .box Image {
  vertical-align: middle;
  horizontal-align: center;
  tooltip-position: bottom;
  tooltip-body-position: 50% 50%;
  wash-color: #cdf;
  opacity: 0.5;
  transition-property: opacity;
  transition-duration: 0.2s;
  img-shadow: 0px 0px 3px 3 black;
}
.MenuStyle-1fe11131 .box Image:hover {
  opacity: 1;
  wash-color: #fff;
}

.LayerStyle-2dfb962a {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.35s;
  transition-timing-function: ease-in-out;
  z-index: -1;
}
.LayerStyle-2dfb962a.minimized {
  opacity: 0;
}
.LayerStyle-2dfb962a .shade {
  width: 100%;
  height: 100%;
  z-index: 1;
}
.LayerStyle-2dfb962a .content {
  z-index: 10;
}

.rootStyle-dacfbb7a {
  background-color: rgba(0, 0, 0, 0.5);
  width: 200px;
  height: 200px;
  horizontal-align: center;
  vertical-align: middle;
}

.LayerStyle-2dfb962a {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.35s;
  transition-timing-function: ease-in-out;
  z-index: -1;
}
.LayerStyle-2dfb962a.minimized {
  opacity: 0;
}
.LayerStyle-2dfb962a .shade {
  width: 100%;
  height: 100%;
  z-index: 1;
}
.LayerStyle-2dfb962a .content {
  z-index: 10;
}

.root {
  width: 100%;
  height: 100%;
}

.rootStyle-28570c9f {
  flow-children: down;
  horizontal-align: center;
  vertical-align: bottom;
  margin-bottom: 500px;
}