.image-precache {
background-image: url("file://{images}/custom_game/debug/icon/feedback.png");
background-image: url("file://{images}/custom_game/debug/icon/mailbox.png");
background-image: url("file://{images}/custom_game/debug/icon/quickCommands.png");
background-image: url("file://{images}/custom_game/debug/icon/toolCommon.png");
background-image: url("file://{images}/custom_game/debug/icon/toolDeveloper.png");
}